* {
    margin: 0;
    padding: 0;
    overflow:hidden;
  }

/* Tooltip */
#tooltip {
  opacity: 0;
  margin-top: 20px;
  margin-left: 20px;
  padding: 15px;
  position: fixed;
  z-index: 1000;
  width: auto;
  height: auto;

  max-width: 500px;

  pointer-events: none;

  border: solid 4px white;
  color: white;
  background-color: rgb(27, 27, 27);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  transition: opacity .15s linear;

  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-size: 15px;
}

#tooltip.summon {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

#tooltip > p {
  display: block;
  margin: 0;
  padding: 0;
}

#tooltip > img {
  display: block;
  width: 100%;
  max-width: 50%
}
* {
  text-decoration: none;
}

h1 {
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

#content {
  padding-bottom: 50px;
}
img {
  padding-top: 20px;
}
